.profile {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile article {
  padding: 1rem;
  font-size: 1.5rem;
}

.grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
}

.card {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}