.white {
  background-color: white;
  color: black;
  min-height: 100vh;
  transition: 0.5s;
}

.profile {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile article {
  padding: 1rem;
  font-size: 1.5rem;
}

.grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
}

.grid a {
  margin: 1.2rem;
  text-decoration: none;
  color: black;
}

.grid a :hover {
  /* transform: scale(1.01);  */
  background-color: rgb(35, 35, 35);
  color: white;
  transition: 0.3s;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 15rem;
}

.card h3 {
  margin: 0.7rem;
  font-size: 1.3rem;
}

.card p {
  margin: 0px;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 701px) and (max-width: 950px) {
  .grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .profile {
    padding: 0px;
  }

  .grid {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 15rem;
  }
}

/* Dark Mode */
.dark {
  background-color: rgb(35, 35, 35);
  color: white;
  min-height: 100vh;
  transition: 0.5s;
}

.dark .grid a {
  color: white;
}

.dark .grid a :hover {
  /* transform: scale(1.01);  */
  background-color: rgb(220, 220, 220);
  color: black;
  transition: 0.3s;
}