.day {
  color-scheme: white;
}

.profile {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile article {
  padding: 1rem;
  font-size: 1.5rem;
}

.grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
}

.grid a {
  margin: 1.2rem;
  text-decoration: none;
  color: black;
}

.grid a :hover {
  /* transform: scale(1.01);  */
  background-color: rgb(var(--night-rgb));
  color: white;
  transition: 0.3s;
}

.card {
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}

.card h3 {
  margin: 0.7rem;
  font-size: 1.3rem;
}

.card div {
  text-align: center;
}

.thumbnail {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 701px) and (max-width: 1000px) {
  .grid {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .profile {
    padding: 0px;
  }

  .grid {
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
  }
}

/* Dark Mode */
.night {
  color-scheme: dark;
}

.night .grid a {
  color: white;
}

.night .grid a :hover {
  /* transform: scale(1.01);  */
  background-color: rgb(var(--day-rgb));
  color: black;
  transition: 0.3s;
}