.layoutDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color-scheme: dark;
  background-color: rgb(35, 35, 35);
  color: white;
  transition: 0.5s;
}

.layoutWhite {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color-scheme: white;
  background-color: white;
  color: black;
  transition: 0.5s;
}